aws_region              = "us-west-1"
domain_name             = "md-dev970.com"
create_hosted_zone      = true
enable_custom_mail_from = true
mail_from_subdomain     = "bounce"
create_dmarc_record     = true
dmarc_policy            = "none"
dmarc_rua               = "dmarc@example.com"

tags = {
  project     = "underflow"
  environment = "shared-email"
  managed     = "terraform"
}
